
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #D7E8EF;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 30px;
}

.logo > * {
    color: #001B48;
}

.paytone-one-regular {
  font-family: "Paytone One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

form {
    display: flex;
    flex-direction: column;
}

.formulario > * {
    margin-top: 40px;
    display: flex;
    gap: 20px;
}


form > button {
    width: 30rem;
    height: 3rem;
    border-radius: 10px;
    border: none;
    background-color: #001B48;
    color: white;
    font-size: 25px;
    font-family: 'Montserrat';
    cursor: pointer;
}

.forgot-password {
    font-size: 20px;
    margin-top: 30px;
    text-align: center;
    color: #006DAC;
    font-family: 'Montserrat';
    font-weight: bold;
    font-style: italic;
}

.no-account {
    font-size: 20px;
    text-align: center;
    margin-top: 5px;
    color: black;
    font-family: 'Montserrat';
    font-weight: bold;
    font-style: italic;
}

.cadastrar {
    color: #006DAC;
    font-style: italic;
}

.input-box {
  position: relative;
  width: 30rem;
}

.input-box .icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 16px;
  color: #666;
}

.input-box input {
  width: 100%;
  height: 55px;
  padding: 10px 10px 10px 45px; /* espaço para o ícone */
  background-color: #98CBDC;
  border: 1px solid #ccc;
  border-radius: 30px;
  font-size: 14px;
}

.logo-footer {
    margin-top: 5rem;
    display: flex;
    height: 100%;
    justify-content: center;
}