/*======= BASE =======*/
* { box-sizing: border-box; margin: 0; padding: 0; }
html,body { height: 100%; }
body {
  font-family: 'Montserrat', system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial;
  background: #d9eef4;
  color: #052746;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.2;
}

.container {
  width: 1024px;
  max-width: calc(100% - 40px);
  margin: 0 auto;
  height: 5px;
}
 
/*======= TOPO =======*/
.topo {
    background-color: #062d63;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 8px 20px;
    align-items: center;
}
.header-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 0;
}
.header-inner img{
    height: 4rem;
}


.menu a {
    margin-left: 25px;
    color: #c7d9ff;
    text-decoration: none;
    font-size: 18px;
}

.menu .ativo {
    background-color: #c3e5ef;
    color: #062d63;
    padding: 8px 18px;
    border-radius: 20px;
}

/*======= CONTEÚDO =======*/
.container {
    width: 75%;
    margin: 40px auto;
}

/*======= ÁREA DO PERFIL =======*/
.perfil-area {
    display: flex;
    justify-content: space-between;
}

/* Campos de dados */
.info {
    width: 60%;
}

.campo{
    background-color: #a7d7e8;
    padding: 8px 12px;
    border-radius: 20px;
    font-size: 15px;
    margin-bottom: 15px;
    color: #05385e;
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.edit {
    font-size: 18px;
    cursor: pointer;
}

/*======= ÍCONE DO PERFIL =======*/
.foto-perfil {
    position: relative;
    width: 270px;
    height: 270px;
}

.circle {
    border: 4px solid #062d63;
    border-radius: 50%;
    position: absolute;
}

.big {
    width: 260px;
    height: 260px;
    top: 0;
    left: 0;
    background-color: #062d63;
}


/*======= TÍTULO "VOCÊ JÁ ASSISTIU" =======*/
.assistiu-title {
    font-size: 26px;
    color: #05385e;
    margin-top: 40px;
}

/*======= CARDS =======*/
.cards-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
  padding: 20px 0;
}

.card {
    border-radius: 12px;
  background: #D9D9D9;
  position: relative;
  height: 200px;
  display: flex;
  flex-direction: column;
}

.card-top {
  background: #D9D9D9;
  height: 60%;
  border-radius: 8px;
}

.card-onda {
  position: relative;
  border-radius: 12px;
  height: 40%;
  background: #9ED1E0;
  display: flex;
  align-items: center;
  padding: 1rem;
}

.card-onda svg {
  position: absolute;
  top: -40px;
  left: 0;
  width: 100%;
}

.card-onda path {
  fill: #9ED1E0;
}

.card h3 {
    font-size: 1.2rem;
    font-weight: 800;
    color: #002B4A;
}

/* Responsivo */
@media (max-width: 900px) {
    .perfil-area {
        flex-direction: column;
        align-items: center;
    }

    .info {
        width: 90%;
    }

    .cards {
        grid-template-columns: 1fr;
    }
}
